server:
  port: 8086
spring:
  application:
    name: two
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
    preferIpAddress: true

metrics:
  dir: business-services/two/src/main/resources/metrics/

resource:
  url:
   common: ${CONFIG_SERVER:http://localhost:8083/}
   one: ${ONE_SERVER:http://localhost:8084/}